
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'PT Sans', sans-serif;
  padding-top:20px;
  padding-bottom:20px;
  border-top: solid 5px #00aed1;
  border-bottom: solid 5px #00aed1;
  background-image: url('../img/background.png');
}
.container{
    background-color:white;
    border-radius:30px;
    padding:10px;
}
.hero-unit{
    background: white;
    line-height:40px;
    padding:0px;
    margin: 0 0 0 100px;
}
.hero-unit p {
    margin-top:20px;
    font-size: 24px;
}
.hero-unit h1 {
    margin-bottom:0px;
}
.hero-unit.arg h1{
    float:left;
}
.btn-primary{
    background-color:#08aed1;
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#08aed1),to(#08aed1));
    background-image: linear-gradient(to bottom, #08aed1, #08aed1);
}
.appstore{
  margin:-70px 195px 0 0;
}
.call{
  margin:-95px 198px 0 0;
}
.btn-large{
    padding: 21px 37px;
}
#ipad{
  width: 924px;
  height: 728px;
  margin-left:80px;
  background-image: url('../img/iPad.png');
  position: relative;
}
.ipad-inside{
  width: 715px;
  height: 535px;
  margin: 95px 0 0 105px;
}
.carousel-inner>.item{
    -webkit-transition: .000001s;
    -o-transition: .000001s;
    moz-transition: .000001s;
    transition: .000001s;
}
.tab-switcher {
  position: relative;
  padding:20px 0 0 100px;
  height:820px;
}
.tab {
  float: left;
}
.tab-switcher label {
  padding: 14px 30px;
  border-radius: 18px 18px 0 0;
  border: solid 1px #ccc;
  background: white;
  display: block;
  margin-left: -1px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  -ms-transition: all .4s linear;
  transition: all .4s linear;
}
.tab-switcher label:hover {
  cursor: pointer;
}
.tab-content {
  position: absolute;
  top: 120px;
  left: 0;
  padding: 20px 20px 0 110px;
  background: #fff;
  width: 980px;
  color: #555;
  margin-left: -1px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  -ms-transition: all .4s linear;
  transition: all .4s linear;
}
.tab-switcher input[type=radio] {
  display: none;
}
.tab-switcher input[type=radio]:checked ~ .tab-content {
  z-index: 10;
  opacity: 1;
}

footer{
  text-align:center;
}













